{% extends '::base.html.twig' %}

{% block title %}Register - {{ parent() }}{% endblock title %}

{% block body %}
    <h1>Création d'un compte utilisateur</h1>

    <div class="register">

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }}
              method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-warning" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>

    </div>
{% endblock %}