{% extends '::base.html.twig' %}

{% block title %}Étapes - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Liste des étapes</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('etape_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-warning" href="{{ path('etape_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a class="btn btn-warning" href="{{ path('etape_edit', { 'id': entity.id }) }}">Éditer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('etape_new') }}">
                Ajouter une étape
            </a>
        </li>
    </ul>
    {% endblock %}
