{% extends '::base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock title %}

{% block body %}

    <h1>Pour commencer...</h1>

    <div class="home">
        <a href="{{ path('photo') }}" class="btn btn-warning">Ajouter une Photo</a>
        <a href="{{ path('arret') }}" class="btn btn-success">Créer un Arrêt</a>
        <a href="{{ path('etape') }}" class="btn btn-danger">Créer une Etape</a>
        <a href="{{ path('voyage') }}" class="btn btn-primary">Créer un Voyage</a>
    </div>

{% endblock %}