{% extends '::base.html.twig' %}

{% block title %}Voyages - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Voyage list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Destination</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('voyage_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.destination }}</td>
                <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>

                        <a class="btn btn-warning" href="{{ path('voyage_show', { 'id': entity.id }) }}">show</a>

                        <a class="btn btn-warning" href="{{ path('voyage_edit', { 'id': entity.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-warning" href="{{ path('voyage_new') }}">
                Create a new entry
            </a>

    {% endblock %}
