{% extends '::base.html.twig' %}

{% block title %}Visualiser un voyage - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Visualiser un voyage</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ entity.destination }}</td>
            </tr>
            <tr>
                <th>Date de debut</th>
                <td>{{ entity.dateDebut|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ entity.dateFin|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>


        <a class="btn btn-warning" href="{{ path('voyage') }}">
            Back to the list
        </a>

        <a class="btn btn-warning" href="{{ path('voyage_edit', { 'id': entity.id }) }}">
            Edit
        </a>

  {{ form(delete_form) }}

{% endblock %}
