{% extends '::base.html.twig' %}

{% block title %}Visualiser un arrêt - {{ parent() }}{% endblock title %}

{% block body -%}
    <h1>Visualiser un arrêt</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-margin">
        <a class="btn btn-success" href="{{ path('arret') }}">Retour</a>
        <a class="btn btn-success" href="{{ path('arret_edit', { 'id': entity.id }) }}">Éditer</a>
    </div>

    {{ form(delete_form) }}

{% endblock %}
